// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/{G2L,V2L} SMARC SOM common parts
 *
 * Copyright (C) 2022 MYiR Electronics Corp.
 */
#include "r9a07g044l2.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rzg2l-pinctrl.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Renesas SMARC EVK based on r9a07g044l2";
	compatible = "renesas,smarc-evk", "renesas,r9a07g044l2", "renesas,r9a07g044";

	aliases {
		ethernet0 = &eth0;

		serial0 = &scif0;
		serial3 = &scif3;

		i2c0 = &i2c0;
		i2c1 = &i2c1;

		mmc0 = &sdhi0;
		mmc1 = &sdhi1;
	};

        chosen {
//                bootargs = "ignore_loglevel";
                stdout-path = "serial0:115200n8";
        };

	vring-ctl0@43000000 {
                compatible = "vring_uio";
                reg = <0x0 0x43000000 0x0 0x100000>;
                no-map;
        };

        vring-ctl1@43100000 {
                compatible = "vring_uio";
                reg = <0x0 0x43100000 0x0 0x100000>;
                no-map;
        };
	vring-shm0@43200000 {
                compatible = "shm_uio";
                reg = <0x0 0x43200000 0x0 0x300000>;
                no-map;
        };

        vring-shm1@43500000 {
                compatible = "shm_uio";
                reg = <0x0 0x43500000 0x0 0x300000>;
                no-map;
        };

	rsctbl@42f00000 {
                compatible = "shm_uio";
                reg = <0x0 0x42f00000 0x0 0x1000>;
                no-map;
        };

        mhu-shm@42f01000 {
                compatible = "shm_uio";
                reg = <0x0 0x42f01000 0x0 0x1000>;
                no-map;
        };

        mbox-uio@10400000 {
                compatible = "mbox_uio";
                reg = <0x0 0x10400000 0x0 0x1000>;
                interrupt-parent = <&gic>;
                interrupts = <GIC_SPI 75 IRQ_TYPE_LEVEL_HIGH>;
                status = "okay";
        };

        	panel_powr2: regulator-panel_powr2 {
		compatible = "regulator-fixed";
		regulator-name = "panel-power2";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&pinctrl RZG2L_GPIO(37, 2) GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};
	
	panel@0 {
		compatible = "ronboetft_panel_5inch";
		// backlight = <&lcd_backlight>;
		power-supply = <&reg_3p3v>;
		enable-gpios = <&pinctrl RZG2L_GPIO(42, 4) GPIO_ACTIVE_HIGH>;// backlight
		status = "okay";
		no-hpd;

		port {
			panel_lcd_in: endpoint {
				remote-endpoint = <&du_out_rgb>;
			};
		};
	};

	reg_1p8v: regulator0 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3p3v: regulator1 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_1p1v: regulator-vdd-core {
		compatible = "regulator-fixed";
		regulator-name = "fixed-1.1V";
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1100000>;
		regulator-boot-on;
		regulator-always-on;
	};

	usb0_vbus_otg: regulator-usb0-vbus-otg {
			compatible = "regulator-fixed";

			regulator-name = "USB0_VBUS_OTG";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
	};

	x1_clk: x1-clock {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
	};

        backlight {
                compatible = "pwm-backlight";
                pwms = <&gpt4 0 50000>;
                brightness-levels = <0 2 8 16 32 64 128 255>;
                default-brightness-level = <7>;
        };
};

&adc {
	pinctrl-0 = <&adc_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&eth0 {
	pinctrl-0 = <&eth0_pins>;
	pinctrl-names = "default";
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	status = "okay";

	phy0: ethernet-phy@7 {
		compatible = "ethernet-phy-id0022.1640",
			     "ethernet-phy-ieee802.3-c22";
		reg = <7>;
		rxc-skew-psec = <2400>;
		txc-skew-psec = <2400>;
		rxdv-skew-psec = <0>;
		txen-skew-psec = <0>;
		rxd0-skew-psec = <0>;
		rxd1-skew-psec = <0>;
		rxd2-skew-psec = <0>;
		rxd3-skew-psec = <0>;
		txd0-skew-psec = <0>;
		txd1-skew-psec = <0>;
		txd2-skew-psec = <0>;
		txd3-skew-psec = <0>;

		interrupt-parent = <&pinctrl>;
		interrupts = <RZG2L_GPIO(1, 0) IRQ_TYPE_LEVEL_LOW>;
	};
};

&extal_clk {
	clock-frequency = <24000000>;
};

&gpu {
	mali-supply = <&reg_1p1v>;
};

&ostm1 {
	status = "okay";
};

&ostm2 {
	status = "okay";
};

&pinctrl {

	eth0_pins: eth0 {

		mux {
			pinmux = <RZG2L_PORT_PINMUX(28, 1, 1)>, /* ET0_LINKSTA */
				 <RZG2L_PORT_PINMUX(27, 1, 1)>, /* ET0_MDC */
				 <RZG2L_PORT_PINMUX(28, 0, 1)>, /* ET0_MDIO */
                                 <RZG2L_PORT_PINMUX(20, 0, 1)>, /* ET0_TXC */
				 <RZG2L_PORT_PINMUX(20, 1, 1)>, /* ET0_TX_CTL */
				 <RZG2L_PORT_PINMUX(20, 2, 1)>, /* ET0_TXD0 */
				 <RZG2L_PORT_PINMUX(21, 0, 1)>, /* ET0_TXD1 */
				 <RZG2L_PORT_PINMUX(21, 1, 1)>, /* ET0_TXD2 */
				 <RZG2L_PORT_PINMUX(22, 0, 1)>, /* ET0_TXD3 */
				 <RZG2L_PORT_PINMUX(24, 0, 1)>, /* ET0_RXC */
				 <RZG2L_PORT_PINMUX(24, 1, 1)>, /* ET0_RX_CTL */
				 <RZG2L_PORT_PINMUX(25, 0, 1)>, /* ET0_RXD0 */
				 <RZG2L_PORT_PINMUX(25, 1, 1)>, /* ET0_RXD1 */
				 <RZG2L_PORT_PINMUX(26, 0, 1)>, /* ET0_RXD2 */
				 <RZG2L_PORT_PINMUX(26, 1, 1)>; /* ET0_RXD3 */
			power-source = <3300>;
		};
	};

	i2c0_pins: i2c0 {
			pins = "RIIC0_SDA", "RIIC0_SCL";
			input-enable;
	};

	i2c1_pins: i2c1 {
			pins = "RIIC1_SDA", "RIIC1_SCL";
			input-enable;
	};

	adc_pins: adc {
			pinmux = <RZG2L_PORT_PINMUX(48, 4, 3)>; /* ADC_TRG */
	};

	qspi0_pins: qspi0 {
		qspi0-data {
			pins = "QSPI0_IO0", "QSPI0_IO1", "QSPI0_IO2", "QSPI0_IO3";
			power-source = <1800>;
		};

		qspi0-ctrl {
			pins = "QSPI0_SPCLK", "QSPI0_SSL", "QSPI_RESET#";
			power-source = <1800>;
		};
	};

	sdhi0_emmc_pins: sd0emmc {
		sd0_emmc_data {
			pins = "SD0_DATA0", "SD0_DATA1", "SD0_DATA2", "SD0_DATA3",
                   "SD0_DATA4", "SD0_DATA5", "SD0_DATA6", "SD0_DATA7";
			power-source = <3300>;
		};

		sd0_emmc_ctrl {
			pins = "SD0_CLK", "SD0_CMD";
			power-source = <3300>;
		};

		sd0_emmc_rst {
			pins = "SD0_RST#";
			power-source = <3300>;
		};
	};

	sdhi1_pins: sd1 {
		sd1_data {
			pins = "SD1_DATA0", "SD1_DATA1", "SD1_DATA2", "SD1_DATA3";
			power-source  = <3300>;
		};

		sd1_ctrl {
			pins = "SD1_CLK", "SD1_CMD";
			power-source  = <3300>;
		};

		sd1_mux {
			groups = "sdhi1_cd_b";
			function = "sdhi1";
		};
	};

	sdhi1_pins_uhs: sd1_uhs {
		sd1_data_uhs {
			pins = "SD1_DATA0", "SD1_DATA1", "SD1_DATA2", "SD1_DATA3";
			power-source  = <1800>;
		};

		sd1_ctrl_uhs {
			pins = "SD1_CLK", "SD1_CMD";
			power-source  = <1800>;
		};

		sd1_mux_uhs {
			groups = "sdhi1_cd_b";
			function = "sdhi1";
		};
	};

	ssi0_pins: ssi0 {
			pinmux = <RZG2L_PORT_PINMUX(45, 0, 1)>, /* BCK */
						<RZG2L_PORT_PINMUX(45, 1, 1)>, /* RCK */
						<RZG2L_PORT_PINMUX(45, 2, 1)>, /* TXD */
						<RZG2L_PORT_PINMUX(45, 3, 1)>; /* RXD */
	};

	usb0_pins: usb0 {
			pinmux = <RZG2L_PORT_PINMUX(5, 0, 1)>,   /* OVC */
                      <RZG2L_PORT_PINMUX(5, 1, 1)>; /* OTG_ID */


	};

	usb1_pins: usb1 {
			pinmux = <RZG2L_PORT_PINMUX(42, 0, 1)>, /* VBUS */
						<RZG2L_PORT_PINMUX(42, 1, 1)>; /* OVC */
	};

	scif0_pins: scif0 {
			pinmux = <RZG2L_PORT_PINMUX(38, 0, 1)>, /* TxD */
						<RZG2L_PORT_PINMUX(38, 1, 1)>; /* RxD */
	};

	scif3_pins: scif3 {
			pinmux = <RZG2L_PORT_PINMUX(0, 0, 5)>, /* TxD */
						<RZG2L_PORT_PINMUX(0, 1, 5)>;/* RxD */
	};

        gpt4_pins: gpt4 {
                pinmux = <RZG2L_PORT_PINMUX(43, 0, 2)>; /* Channel A */
        };

         du_pins: du {
                groups = "disp_bgr888", "disp_sync", "disp_de", "disp_clk";
                function = "disp";
                data {
                        pinmux = <RZG2L_PORT_PINMUX(7, 2, 1)>,
                                 <RZG2L_PORT_PINMUX(8, 0, 1)>,
                                 <RZG2L_PORT_PINMUX(8, 1, 1)>,
                                 <RZG2L_PORT_PINMUX(8, 2, 1)>,
                                 <RZG2L_PORT_PINMUX(9, 0, 1)>,
                                 <RZG2L_PORT_PINMUX(9, 1, 1)>,
                                 <RZG2L_PORT_PINMUX(10, 0, 1)>,
                                 <RZG2L_PORT_PINMUX(10, 1, 1)>,
                                 <RZG2L_PORT_PINMUX(11, 0, 1)>,
                                 <RZG2L_PORT_PINMUX(11, 1, 1)>,
                                 <RZG2L_PORT_PINMUX(12, 0, 1)>,
                                 <RZG2L_PORT_PINMUX(12, 1, 1)>,
                                 <RZG2L_PORT_PINMUX(13, 0, 1)>,
                                 <RZG2L_PORT_PINMUX(13, 1, 1)>,
                                 <RZG2L_PORT_PINMUX(13, 2, 1)>,
                                 <RZG2L_PORT_PINMUX(14, 0, 1)>,
                                 <RZG2L_PORT_PINMUX(14, 1, 1)>,
                                 <RZG2L_PORT_PINMUX(15, 0, 1)>,
                                 <RZG2L_PORT_PINMUX(15, 1, 1)>,
                                 <RZG2L_PORT_PINMUX(16, 0, 1)>,
                                 <RZG2L_PORT_PINMUX(16, 1, 1)>,
                                 <RZG2L_PORT_PINMUX(17, 0, 1)>,
                                 <RZG2L_PORT_PINMUX(17, 1, 1)>,
                                 <RZG2L_PORT_PINMUX(17, 2, 1)>;
                        drive-strength = <2>;
                };

                sync {
                        pinmux = <RZG2L_PORT_PINMUX(6, 1, 1)>, /* HSYNC */
                                 <RZG2L_PORT_PINMUX(7, 0, 1)>; /* VSYNC */
                        drive-strength = <2>;
                };

                de {
                        pinmux = <RZG2L_PORT_PINMUX(7, 1, 1)>; /* DE */
                        drive-strength = <2>;
                };

                clk {
                        pinmux = <RZG2L_PORT_PINMUX(6, 0, 1)>; /* CLK */
                };
        };       
};

&sbc {
	pinctrl-0 = <&qspi0_pins>;
	pinctrl-names = "default";
	status = "okay";

	flash@0 {
		compatible = "micron,mt25qu512a", "jedec,spi-nor";
		reg = <0>;
		m25p,fast-read;
		spi-max-frequency = <50000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0000000 {
				label = "u-boot";
				reg = <0x00000000 0x80000>;
				read-only;
			};
			partition@80000 {
				label = "env";
				reg = <0x00080000 0x40000>;
				read-only;
			};
			partition@C0000 {
				label = "dtb";
				reg = <0x000C0000 0x40000>;
				read-only;
			};
			partition@800000 {
				label = "rootfs";
				/* 16MB @ 8MB offset in SPI Flash */
				reg = <0x00800000 0x01000000>;
			};
		};
	};
};

/*EMMC*/
&sdhi0 {
	pinctrl-0 = <&sdhi0_emmc_pins>;
	pinctrl-1 = <&sdhi0_emmc_pins>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&reg_1p8v>;
	bus-width = <8>;
	mmc-hs200-1_8v;
	non-removable;
	fixed-emmc-driver-type = <1>;
	status = "okay";
};

/*sdcard*/
&sdhi1 {
	pinctrl-0 = <&sdhi1_pins>;
	pinctrl-1 = <&sdhi1_pins_uhs>;
	pinctrl-names = "default", "state_uhs";
	vmmc-supply = <&reg_3p3v>;
        vqmmc-supply = <&reg_3p3v>;
	cd-gpios = <&pinctrl RZG2L_GPIO(19, 0) GPIO_ACTIVE_LOW>;
	bus-width = <4>;
	disable-wp;
	status = "okay";
};

&wdt0 {
	status = "okay";
	timeout-sec = <60>;
};

&wdt1 {
	status = "okay";
	timeout-sec = <60>;
};

&wdt2 {
	status = "okay";
	timeout-sec = <60>;
};

&poegd {
	status = "disabled";
};

&gpt4 {
        pinctrl-0 = <&gpt4_pins>;
	pinctrl-names = "default";
	channel = "channel_A";
	status = "okay";
};

&usb2_phy1 {
        pinctrl-0 = <&usb1_pins>;
        pinctrl-names = "default";

        status = "okay";
};

&usb2_phy0 {
        pinctrl-0 = <&usb0_pins>;
        pinctrl-names = "default";

        vbus-supply = <&usb0_vbus_otg>;
        status = "okay";
};

&ehci0 {
	memory-region = <&global_cma>;
};

&ohci0 {
	memory-region = <&global_cma>;
	dr_mode = "otg";
	status = "okay";

	port {
		usbotg_hs_ep: endpoint {
				remote-endpoint = <&con_usbotg_hs_ep>;
		};
	};
};

&ehci1 {
	memory-region = <&global_cma>;
	status = "okay";
};

&ohci1 {
	memory-region = <&global_cma>;
	status = "okay";
};


&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";

	clock-frequency = <100000>;
	status = "okay";

	ptn5150: ptn5150@3d {
		compatible = "nxp,ptn5150";
		reg = <0x3d>;
		pinctrl-names = "default";
		connect-gpios = <&pinctrl RZG2L_GPIO(1, 1) GPIO_ACTIVE_HIGH>;
		status = "okay";

		connector {
				compatible = "usb-c-connector";
				label = "USB-C";
				port {
						con_usbotg_hs_ep: endpoint {
										remote-endpoint = <&usbotg_hs_ep>;
						};
				};
		};
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";
	clock-frequency = <100000>;
	status = "okay";

    ft5x06: ft5x06@38 {
        compatible = "focaltech,ft5426";
            reg = <0x38>;
            interrupt-parent = <&pinctrl>;
            interrupts = <RZG2L_GPIO(41, 0) IRQ_TYPE_EDGE_FALLING>;
            reset-gpios = <&pinctrl RZG2L_GPIO(41, 1) GPIO_ACTIVE_LOW>;
            touchscreen-size-x=<800>;
            touchscreen-size-y=<480>;
    };	
};

/* console */
&scif0 {
	pinctrl-0 = <&scif0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

/* RS485 */
&scif1 {
	pinctrl-0 = <&scif1_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&scif2 {
        pinctrl-0 = <&scif2_pins>;
        pinctrl-names = "default";
        status = "okay";
};

/* RS232 */
&scif3 {
        pinctrl-0 = <&scif3_pins>;
        pinctrl-names = "default";
        status = "okay";
};

&hsusb {
        dr_mode = "otg";
        status = "okay";
};
&phyrst {
        status = "okay";
};

&mtu3 {
        status = "okay";
};

&cru {
	status = "okay";
};

/* MIPI DSI */
&dsi0 {
	status = "disabled";
};

&du {
	pinctrl-0 = <&du_pins>;
	pinctrl-names = "default";
	status = "okay";

	ports {
		port@0 {
			du_out_rgb: endpoint {
				remote-endpoint = <&panel_lcd_in>;
			};
		};
	};
};
